**EXE 1**

In [2]:
import sqlite3

conn = sqlite3.connect("MODULO_4_GUSTAVO.db")
print(conn)

<sqlite3.Connection object at 0x00000230CB9253F0>

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("CREATE TABLE dados_cadastrais (id integer, nome text, sobrenome text, data_nasci integer, cpf inteiro, endereco text)");
cursor.execute("CREATE TABLE dados_profissionais (id integer, graduacao text, cargo text, salario float, tempo_casa inteiro)");

OperationalError: table dados_cadastrais already exists

In [5]:
cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP')") 
cursor.execute("INSERT INTO dados_cadastrais VALUES(2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(3, 'pedro', 'pereira', 0, 11111211786, 'rua 8 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(4, 'paulo', 'ribeiro', 0, 11111211123, 'rua 9 - SP')")

cursor.execute("INSERT INTO dados_profissionais VALUES(1, 'matematica', 'professor', 3500.89, 3)")
cursor.execute("INSERT INTO dados_profissionais VALUES(2, 'geografia', 'orientador', 2850.8, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(3, 'historia', 'orientador', 3200.45, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(4, 'fisica', 'professor', 1890.33, 2)")

In [6]:
cursor.execute("SELECT * FROM dados_cadastrais")
cursor.fetchall()

[(1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP'),
 (2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP'),
 (3, 'pedro', 'pereira', 0, 11111211786, 'rua 8 - SP'),
 (4, 'paulo', 'ribeiro', 0, 11111211123, 'rua 9 - SP')]

In [7]:
cursor.execute("SELECT * FROM dados_profissionais")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (4, 'fisica', 'professor', 1890.33, 2)]

**EXE 2:**

In [9]:
cursor.execute("SELECT * FROM dados_profissionais ORDER BY tempo_casa desc")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (4, 'fisica', 'professor', 1890.33, 2),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1)]

**EXE 3:**

In [11]:
cursor.execute("SELECT COUNT(dp.nome) FROM dados_cadastrais as dp")
cursor.fetchall()

[(4,)]

**EXE 4:**

In [14]:
cursor.execute("SELECT * FROM dados_cadastrais where sobrenome = 'silva' ORDER BY nome,sobrenome")
cursor.fetchall()

[(2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP'),
 (1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP')]

**EXE 5:**

In [18]:
cursor.execute("SELECT cargo, SUM(salario) FROM dados_profissionais GROUP BY cargo")
cursor.fetchall()

[('orientador', 6051.25), ('professor', 5391.219999999999)]